<div class="container my-5">
    <div>
        <h1 class="h3 mb-0 text-secondary">Ver datos de domicilio</h1>
    </div>
    <hr>
    <table class="table table-dark table-striped table-bordered">
        <tr>
            <td>Id: {{info.id_domicilio}}</td>
            <td>Codigo Postal: {{info.cp}}</td>
        </tr>
        <tr>
            <td>Calle: {{info.calle}}</td>
            <td>Numero: {{info.numero}}</td>
        </tr>
        <tr>
            <td colspan="2">CURP de dueño: {{info.curp}}</td>
        </tr>
    </table>
</div>

