<div>
    <h1 class="h3 mb-0 text-secondary">Alta Colonia</h1>
</div>
<hr>
<form (ngSubmit)="onSubmit(form)" #form="ngForm"> 
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Nombre</div>
          <input type="text" class="form-control" ngModel name="cName" >
        </div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Ciudad</div>
          <input type="text" class="form-control" ngModel name="cCiudad" >
        </div>
        <div class="col-sm-3">
            <div class="h6 text-secondary">Estado</div>
            <input type="text" class="form-control" ngModel name="cEstado" >
          </div>
      </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3" >
            <div class="h6 text-secondary">CP</div>
            <input type="number" class="form-control" ngModel name="cCp" >
        </div>
        <div class="col-3">
            <div class="h6 text-secondary">Num. Lamparas Publicas</div>
            <input type="number" class="form-control" ngModel name="cLampPublic" >
        </div>
    </div>     

    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <button type="submit" class="btn-success">Guardar</button> 
        </div>
    </div>
  </form>