<div class="container">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="mx-5">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr><th colspan="2">Relacionar Planta con colonia que alimenta</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Id de Planta</p>
                        <input type="number" class="form-control" ngModel name="qidPlanta" placeholder="Id">
                    </td>
                    <td>
                        <p>Codigo Postal de la Colonia</p>
                        <input type="number" class="form-control" ngModel name="qcodPost" placeholder="Codigo Postal">
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td colspan="2" class="text-center"><button type="submit" class="btn btn-outline-dark">Relacionar</button></td></tr>
            </tfoot>
        </table>
    </form>
</div>
