<div>
    <h1 class="h3 mb-0 text-secondary">Alta Planta</h1>
</div>
<hr>
<form (ngSubmit)="onSubmit(form)" #form="ngForm"> 
    <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Tipo de energía renovable</div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio"  ngModel name="tipoEnergia" value="s"> Solar
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" ngModel name="tipoEnergia" value="e"> Eólica
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" ngModel name="tipoEnergia" value="h"> Hidráulica
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="h6 text-secondary">Cantidad de energía que genera</div>
            <input type="number" class="form-control" ngModel name="dCantEnerg" >
          </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-3">
            <div class="h6 text-secondary">Id Domiclio</div>
            <input type="number" class="form-control" ngModel name="id_domicilioo" >
        </div> 
      </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <button type="submit" class="btn-success">Guardar</button> 
        </div>
    </div>
  </form>