<p>planta works!</p>
<div>
    <h1 class="h3 mb-0 text-secondary">Alta Planta</h1>
</div>
<hr>
<form > 
    <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Numero</div>
          <input type="number" class="form-control form-control-user" id="" >
        </div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Tipo de energía renovable</div>
          <input type="text" class="form-control form-control-user" id="dpTipo" >
        </div>
        <div class="col-sm-3">
            <div class="h6 text-secondary">Cantidad de energía que genera</div>
            <input type="number" class="form-control form-control-user" id="dpCantEnerg" >
          </div>
      </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <button type="submit" class="btn-success">Guardar</button> 
        </div>
    </div>
  </form>