<div class="container my-5">
    <table class="table table-dark table-striped table-bordered">
        <tr>
            <td>Nombre</td>
            <td>{{info.nombre+' '+info.ap_pat+' '+info.ap_mat}} </td>
        </tr>
        <tr>
            <td>CURP</td>
            <td>{{info.curp}}</td>
        </tr>
        <tr>
            <td>Fecha de nacimiento</td>
            <td>{{info.fech_nac}}</td>
        </tr>
        <tr>
            <td>Sueldo</td>
            <td>{{info.sueldo}}</td>
        </tr>
    </table>
</div>
