<p>domicilio works!</p>
<div>
    <h1 class="h3 mb-0 text-secondary">Alta Domicilio</h1>
</div>
<hr>
<form > 
    <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Calle</div>
          <input type="text" class="form-control form-control-user" id="dCalle" >
        </div>
        <div class="col-3">
            <div class="h6 text-secondary">Numero</div>
            <input type="number" class="form-control form-control-user" id="dNumero" >
        </div>
        <div class="col-3">
            <div class="h6 text-secondary">CP.</div>
            <input type="number" class="form-control form-control-user" id="dCP" >
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="h6 text-secondary">Cuenta con energía renovable</div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="dSi" value="option1"> Si
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="dNo" value="option2"> No
                </label>
            </div>
        </div>   
    </div>
        

    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <button type="submit" class="btn-success">Guardar</button> 
        </div>
    </div>
  </form>