<div>
    <h1 class="h3 mb-0 text-secondary">Alta Domicilio</h1>
</div>
<hr>
<form (ngSubmit)="onSubmit(form)" #form="ngForm"> 
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Calle</div>
          <input type="text" class="form-control" ngModel name="Calle" >
        </div>
        <div class="col-3">
            <div class="h6 text-secondary">Numero</div>
            <input type="number" class="form-control" ngModel name="Numero" >
        </div>
        <div class="col-3">
            <div class="h6 text-secondary">CP.</div>
            <input type="number" class="form-control" ngModel name="CP" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-3">
            <div class="h6 text-secondary">Curp</div>
            <input type="text" class="form-control" ngModel name="curpD" >
        </div>
        <!--<div class="col-sm-3">
            <div class="h6 text-secondary">Id Domiclio</div>
            <input type="number" class="form-control" ngModel name="id_domicilio" >
        </div>-->
    </div>

    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <button type="submit" class="btn-success">Guardar</button> 
        </div>
    </div>
  </form>