<div>
    <h1 class="h3 mb-0 text-secondary">Alta Persona</h1>
</div>
<hr>
<form (ngSubmit)="onSubmit(form)" #form="ngForm"> 
    <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Nombre(s)</div>
          <input type="text" class="form-control" ngModel name="Nombres" >
        </div>
        <div class="col-sm-3">
          <div class="h6 text-secondary">Apellido Paterno</div>
          <input type="text" class="form-control" ngModel name="pPaterno" >
        </div>
        <div class="col-sm-3">
            <div class="h6 text-secondary">Apellidos Materno</div>
            <input type="text" class="form-control" ngModel name="pMaterno" >
          </div>
      </div>

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="h6 text-secondary">Fecha Nacimiento</div>
            <input class="form-control" type="date" ngModel name="pfechaNac">
        </div>
        <div class="col-sm-3" >
            <div class="h6 text-secondary">CURP</div>
            <input type="text" class="form-control" ngModel name="pCurp" >
        </div>  
    </div>
        
    <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="col-3">
            <div class="h6 text-secondary">Sueldo Promedio</div>
            <input type="number" class="form-control" ngModel name="psueldo" >
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-sm-1">
            
        </div><div class="col-sm-1">
            <button type="submit" class="btn-success">Guardar</button> 
        </div>
    </div>
  </form>